use flake

# Скрыть stdenv build vars — они не нужны в dev-окружении Qtile
unset AR AS CC CXX LD NM OBJCOPY OBJDUMP RANLIB READELF SIZE STRINGS STRIP
unset NIX_CC NIX_BINTOOLS NIX_BUILD_CORES NIX_CFLAGS_COMPILE NIX_ENFORCE_NO_NATIVE
unset NIX_HARDENING_ENABLE NIX_LDFLAGS NIX_STORE SOURCE_DATE_EPOCH
unset CONFIG_SHELL DETERMINISTIC_BUILD
unset PKG_CONFIG PKG_CONFIG_PATH PYTHONHASHSEED
unset NIX_PKG_CONFIG_WRAPPER_TARGET_HOST_x86_64_unknown_linux_gnu
unset NIX_GOBJECT_INTROSPECTION_DEFAULT_FALLBACK_LIBPATH
unset NIX_BINTOOLS_WRAPPER_TARGET_HOST_x86_64_unknown_linux_gnu
unset NIX_CC_WRAPPER_TARGET_HOST_x86_64_unknown_linux_gnu
unset GI_TYPELIB_PATH HOST_PATH GETTEXTDATADIRS GETTEXTDATADIRS_FOR_BUILD
unset IN_NIX_SHELL
unset buildInputs buildPhase builder cmakeFlags configureFlags mesonFlags
unset depsBuildBuild depsBuildBuildPropagated depsBuildTarget depsBuildTargetPropagated
unset depsHostHost depsHostHostPropagated depsTargetTarget depsTargetTargetPropagated
unset doCheck doInstallCheck dontAddDisableTrack
unset nativeBuildInputs propagatedBuildInputs propagatedNativeBuildInputs
unset name out outputs patches phases preferLocalBuild shell shellHook stdenv
unset strictDeps system __structuredAttrs
