# Python
__pycache__/
.venv/

# IDE / Редакторы
.vscode/

# Бэкапы и временные файлы
*.backup.*
*.bak
config.py.backup
flake.lock.back
command.txt
commnds.txt
man-nixos-rebuild.txt
log
*.log
11
autostart.sh

# NixOS
result*
.direnv/
home.nix

*.key
*.pem
age-private.*
sops.key
secrets.yaml.bak

11