input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:alt_shift_toggle"
        }
        repeat-delay 200
        repeat-rate 35
        numlock
        track-layout "global"
    }

    touchpad {
        tap
        natural-scroll
        click-method "clickfinger"
    }
}
